@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Barlow', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* Navbar */
.navbar{
    background: rgb(233, 230, 230);
    width: 100vw;
}

.navbar-container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand{
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 2.5rem;
    font-weight: 500;
    color: black;
}

.navbar-brand span, .navbar-bkt-lk{
    color: rgb(168, 91, 36);
}

/* product-list */

.prdt-lt-ctnr{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F2D3BF;
}

#prdt-lt{
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    width: 50%;
}

.prdt-lt-title{
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 7px;
    padding-top: 25px;
}

.prdt-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 50px;
    outline: none;
    border: 1px solid #2c211a;
}

.product-details button{

}

.product-details a:hover .price-pdt{
    box-shadow: inset 120px 0 0 0 #704D37;
    color: #e9d4c5;
}

.product-details a:hover .buy {
    box-shadow: inset -120px 0 0 0 #e9d4c5;
    color: #704D37;
}

.product-details a:active{
    transform: scale(1.1);
    transition: transform .3s;
}

.product-details a .price-pdt{
    background: #e9d4c5;
    color: #704D37;
    width: 120px;
    padding: 10px 0;
    box-shadow: inset 0 0 0 0 #704D37;
    transition: ease-in-out 0.6s;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.product-details a .buy{
    background: #704D37;
    color: #e9d4c5;
    width: 120px;
    padding: 10px 0;
    box-shadow: inset 0 0 0 0 #e9d4c5;
    transition: ease-in-out 0.6s;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: center;
}

.prdt-item img{
    width: 500px;
    height: 350px;
    margin-right: 250px;
    transform: rotate3d(-2, -2, 2, -15deg);
}

.prdt-item h2{
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 10px;
}

/* Smartphone Responsive */
@media screen and (max-width: 750px) {
    .navbar-brand{
        letter-spacing: 4px;
        font-size: 1.4rem;
    }
    .prdt-item{
        flex-direction: column;
        justify-content: center;
    }
    .prdt-item img{
        margin-right: 0; 
    } 
    .prdt-item h2{
        padding-top: 20px;
    }
    
}

/* Tablet Responsive */
@media screen and (min-width: 750px) and (max-width: 992px) {
    .prdt-item img{
        margin-right: 75px;
        
    } 
}

/* Desktop (and more) Responsive */
@media screen and (max-width: 1200px) {
    .prdt-item img{
        width: 300px;
        height: 200px;
        transform: rotate(0);
    }

}
