.recap-command{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 0 50px;
}

.recap-command h3{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

#details-order{
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
    border: none;
    border-radius: 10px;
    padding: 50px;
    margin-top: 50px;
    background: chocolate;
}